{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard <small> Welcome </small></h1>
    <hr>
    <h2>Preprocessing: Bag of Words</h2>
    <table class="table table-striped">
        <tr>
            <th>Classifier Name</th>
            <th>Predicted Group</th>
        </tr>
            <tr>
                <td><b style="color: red;">Max Voting</b></td>
                <td><b style="color: red;">{{ensemble}}</b></td>
            </tr>
            <tr>
                <td>SVM</td>
                <td>{{preditions[0]}}</td>
            </tr>
            <tr>
                <td>Naive Bayes</td>
                <td>{{preditions[1]}}</td>
            </tr>
            <tr>
                <td>k Nearest Neighbours</td>
                <td>{{preditions[2]}}</td>
            </tr>
            <tr>
                <td>CNN</td>
                <td>{{preditions[3]}}</td>
            </tr>
    </table>
    <h2>Preprocessing: N-Grams</h2>
    <table class="table table-striped">
        <tr>
            <th>Classifier Name</th>
            <th>Predicted Group</th>
        </tr>
            <tr>
                <td><b style="color: red;">Max Voting</b></td>
                <td><b style="color: red;">{{ensemble}}</b></td>
            </tr>
            <tr>
                <td>SVM</td>
                <td>{{preditions[0]}}</td>
            </tr>
            <tr>
                <td>Naive Bayes</td>
                <td>{{preditions[1]}}</td>
            </tr>
            <tr>
                <td>k Nearest Neighbours</td>
                <td>{{preditions[2]}}</td>
            </tr>
            <tr>
                <td>CNN</td>
                <td>{{preditions[3]}}</td>
            </tr>
    </table>
{% endblock %}
